     /* Стили для header */
     header {
        background-color: #333; /* Цвет фона для всего header */
        padding: 20px;
        position: sticky;
    }

    /* Стили для заголовка */
    header h1 {
        color: white;
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    /* Стили для навигации */
    nav {
        text-align: center;
        margin-top: 10px;
    }

    /* Стили для списка меню */
    nav ul {
        list-style-type: none; /* Убираем маркеры списка */
        padding: 0;
        margin: 0 , 0;
    }

    /* Стили для элементов списка */
    nav ul li {
        display: inline-block; /* Располагаем элементы в строку */
        margin: 0 15px; /* Отступы между элементами */
    }

    /* Стили для ссылок */
    nav ul li a {
        text-decoration: none; /* Убираем подчеркивание */
        color: white; /* Цвет текста */
        font-size: 18px;
        font-weight: bold;
    }

    /* Стили при наведении на ссылку */
    nav ul li a:hover {
        color: #FFD700; /* Цвет текста при наведении */
    }
    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 2vw;
    }
    
    #grid > div {
        font-size: 5vw;
        padding: 0.5em;
        background: rgb(175, 15, 239);
        text-align: center;
    }
    
    /* Стили для компонента продукта */
    .product {
        padding: 1em;
        border: 1px solid #c23e3e;
        text-align: center;
        border-radius: 5px;
    }
    
    .product h2 {
        font-size: 18px;
        margin: 10px;
    }
    .product:hover h2{
        transform: translateY(2px);
    }
    
    .product p {
        font-size: 14px;
    }
    